@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#grid_wrapper_landing {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-rows: 100px 350px 180px;
    grid-template-areas: 
    "he na"
    "ar ar"
    "fo fo";
}

#logga {
    width: 50%;
    position: absolute;
    right: 30px;
    z-index: 2;
}

header {
    grid-area: he;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

#titel {
    font-size: 1.25rem;
    position: absolute;
    right: 180px;
    font-family: 'Tillana', cursive;
}

nav {
    grid-area: na;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(235, 234, 234);
    z-index: 1;
    width: 150px;
    position: relative;
    left: 50px;
}

#nav-links {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 150px;
    background-color: rgb(235, 234, 234);
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: -500px;
    right: 0px;
    transition: all 0.5s;
}

#nav-links a {
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.1875rem;
    color: rgb(23, 40, 69);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
}

#nav-links li {
    list-style: none;
}

#article_landing {
    grid-area: ar;
    display: flex;
}

#landing_img {
    width: 100%;
}

#anmal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 170px;
    top: 350px;
    border: 2px rgb(81, 81, 81);
    background-color: rgb(81, 81, 81);
    color: rgb(255, 255, 255);
    text-decoration: none;
    height: 40px;
    width: 110px;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


footer {
    grid-area: fo;
    background-color: rgb(47, 46, 46);
}

#kontakt {
    display: flex;
    justify-content: center;
    bottom: 1px;
    font-size: 1.25rem;
    color: rgb(146, 146, 146);
    font-family: 'Tillana', cursive;
}

#burger {
    margin-right: 10px;
    cursor: pointer;
}

#burger div {
    width: 20px;
    height: 3px;
    background-color: rgb(54, 36, 149);
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

.burger_menu_toggle #burger_line_2 {
    opacity: 0;
}

.burger_menu_toggle #burger_line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_menu_toggle #burger_line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav_active {
    transform: translateY(600px);
}

#landing_img2 {
    height: 100px;
    position: absolute;
    left: 150px;
}


/* Tranare */
#grid_wrapper_tranare {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-rows: 100px 1500px 180px;
    grid-template-areas: 
    "he na"
    "str str"
    "fo fo";
}

.text_tran {
    position: relative;
    left: 10px;
    margin: 10px;
    color: white;
    padding: 15px;
    font-weight: bold;
    font-size: 0.8rem;
}

#text_tran2 {
    position: relative;
    left: 10px;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 0.75rem;
}

#text_tran3 {
    position: relative;
    left: 10px;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 0.75rem;
}

#text_tran4 {
    position: relative;
    left: 10px;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 0.75rem;
}

.tran_rubrik {
    position: absolute;
    top: 210px;
    left: 50px;
    color: white;
    font-family: 'Tillana', cursive;
}


#tran1 {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 250px;
    width: 450px;
    position: absolute;
    top: 110px;
    background-color: rgb(87, 87, 87);
}

#tran2 {
    border: 2px solid black;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 250px;
    width: 450px;
    top: 500px;
    background-color: rgb(87, 87, 87);
}

#tran3 {
    border: 2px solid black;
    position: absolute;
    top: 900px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 250px;
    width: 450px;
    background-color: rgb(87, 87, 87);
}

#tran4 {
    border: 2px solid black;
    position: absolute;
    top: 1300px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 250px;
    width: 450px;
    background-color: rgb(87, 87, 87);
}

.img_tran {
    width: 60%;
    height: 80%;
    border-radius: 15px;
}

#sec_tr_1 {
    grid-area: str;
}



/* Om oss */
#grid_wrapper_omoss {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-rows: 100px 0px 300px 100px 300px 250px 500px 550px 100px 400px 180px;
    grid-template-areas: 
    "he na"
    "ot ot"
    "s1 s1"
    "lt lt"
    "ar2 ar2"
    "lt2 lt2"
    "lb lb"
    "lb2 lb2"
    "ht ht"
    "s2 s2"
    "fo fo";
}

.anmal_text_2 {
    font-family: 'Courier New', Courier, monospace;
}

#sec_1_om {
    display: flex;
    grid-area: s1;
    flex-direction: column;
    align-items: center;
    background-color: rgb(223, 204, 212);
}

#om_anmal_text {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    grid-area: ot;
    align-items: center;
    margin: 20px;
    font-family: 'Tillana', cursive;
}

button {
    width: 100px;
    height: 30px;
    font-size: 0.75rem;
    font-family: 'Tillana', cursive;
}

#ar_om {
    grid-area: ar2;
    
}

#lokal_img {
    width: 90%;
    position: absolute;
    left: 30px;
    border: 2px solid black;
    border-radius: 10px;
}

#lokal_img2 {
    width: 70%;
    position: absolute;
    left: 65px;
    top: 1100px;
    border: 2px solid black;
    border-radius: 10px;
    grid-area: lb;
}

#lokal_img3 {
    width: 70%;
    position: absolute;
    left: 65px;
    top: 1700px;
    border: 2px solid black;
    border-radius: 10px;
    grid-area: lb2;
}

#lokal_text {
    display: flex;
    justify-content: center;
    grid-area: lt;
    margin: 20px;
    font-family: 'Tillana', cursive;
}

#lokal_text2 {
    position: absolute;
    top: 860px;
    grid-area: lt2;
    padding: 10px;
    margin: 20px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 0.8rem;
}

#sec_2_om {
    grid-area: s2;
}

#hitta_img {
    width: 75%;
    position: absolute;
    left: 70px;
    border: 1px solid black;
    border-radius: 5px;
}

#hitta_text {
    grid-area: ht;
    display: flex;
    justify-content: center;
    margin: 30px;
    font-family: 'Tillana', cursive;
}

/* Tekniker */
#grid_wrapper_teknik {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-rows: 100px 1500px 180px;
    grid-template-areas: 
    "he na"
    "se_ar se_ar"
    "fo fo";
}

.tek_img1 {
    width: 60%;
    border-radius: 200px;
}

#tek_img2 {
    width: 52%;
    border-radius: 200px;
}

#sec_ar {
    grid-area: se_ar;
}

#tek_ar_1 {
    position: absolute;
    top: 100px;
}

#tek_ar_4 {
    position: absolute;
    top: 1200px;
}


#tek_ar_3 {
    position: absolute;
    top: 830px;
}

#tek_ar_2 {
    position: absolute;
    top: 450px;
}

.tek_rubrik {
    display: flex;
    justify-content: center;
    font-family: 'Tillana', cursive;
}

.tek_text {
    margin: 20px;
    padding: 12px;
}

@media screen and (min-width: 600px) {
    #burger {
        display: none;
        margin-right: 50px;
    }
    
    #burger div {
        width: 25px;
    }

    .nav_active {
        transform: translateY(0px);
    }

    nav {
        background-color: rgb(255, 255, 255);
        width: 100%;
        position: absolute;
        left: 0;
    }

    #nav-links {
        flex-direction: row;
        height: 80px;
        width: 100%;
        background-color: lightcyan;
        position: absolute;
        top: 100px;
        right: 0px;
        transition: all 3s;
    }

    #nav-links a {
        font-size: 1.25rem;
    }

    #logga {
        width: 15%;
        position: absolute;
        left: 840px;
    }

    


    #grid_wrapper_landing {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 80px 950px 0px 150px;
        grid-template-areas: 
        "he he"
        "na na"
        "ar ar"
        "ko ko"
        "fo fo";
    }

    #kontakt {
        grid-area: ko;
    }
    
    #landing_img {
        width: 100%;
    }

    #landing_img2 {
        left: 650px;
    }

    #anmal {
        position: absolute;
        right: 650px;
        top: 400px;
        height: 80px;
        width: 180px;
        font-size: 20px;
    }

    #titel {
        font-size: 2rem;
        position: absolute;
        right: 600px;
    }

    /* Tranare */
    #grid_wrapper_tranare {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1000px 162px;
        grid-template-areas: 
        "he he"
        "str str"
        "fo fo";
    }


    .text_tran {
        position: relative;
        left: 10px;
        top: 10px;
        margin-top: 10px;
        color: rgb(0, 0, 0);
        font-size: 0.85rem;
    }
    
    #text_tran2 {
        position: relative;
        left: 10px;
        margin: 10px;
        top: 10px;
        color: rgb(0, 0, 0);
    }
    
    #text_tran3 {
        position: relative;
        left: 10px;
        margin: 10px;
        top: 10px;
        color: rgb(0, 0, 0);
    }
    
    #text_tran4 {
        position: relative;
        left: 10px;
        margin: 10px;
        top: 10px;
        color: rgb(0, 0, 0);
    }
    
    .tran_rubrik {
        position: absolute;
        top: 190px;
        left: 200px;
        color: rgb(0, 0, 0);
    }
    
    
    #tran1 {
        border: 3px solid black;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 300px;
        width: 500px;
        position: absolute;
        top: 270px;
        left: 200px;
        border-radius: 10px;
        background-color: white;
    }
    
    #tran2 {
        border-radius: 10px;
        border: 3px solid black;
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 300px;
        width: 500px;
        left: 800px;
        top: 270px;
        background-color: white;
    }
    
    #tran3 {
        border: 3px solid black;
        border-radius: 10px;
        position: absolute;
        top: 700px;
        left: 200px;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 300px;
        width: 500px;
        background-color: white;
    }
    
    #tran4 {
        border: 3px solid black;
        border-radius: 10px;
        position: absolute;
        top: 700px;
        left: 800px;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 300px;
        width: 500px;
        background-color: white;
    }

    #sec_tr_1 {
        grid-area: str;
        background: url(/img/background_tran.jpg);
        background-size: 100%;
    }
    
    .img_tran {
        width: 35%;
        height: 60%;
        border-radius: 15px;
    }
    
    #img_tran2 {
        width: 40%;
        height: 70%;
        border-radius: 15px;
    }
    
    #img_tran3 {
        width: 40%;
        height: 70%;
        border-radius: 15px;
    }
    
    #img_tran4 {
        width: 40%;
        height: 70%;
        border-radius: 15px;
    }

    /* Om oss */
    #grid_wrapper_omoss {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 80px 300px 100px 300px 250px 100px 400px 162px;
        grid-template-areas: 
        "he na"
        "ot ot"
        "s1 s1"
        "lt lt"
        "ar2 ar2"
        "lt2 lt2"
        "ht ht"
        "s2 s2"
        "fo fo";
    }

    #hitta_img {
        width: 50%;
        height: 50%;
        position: absolute;
        left: 400px;
        top: 1200px;
    }

    #lokal_img {
        width: 30%;
        position: absolute;
        left: 550px;
    }

    #lokal_text2 {
        position: absolute;
        top: 950px;
        padding: 50px;
        margin: 10px;
        font-size: 0.9rem;
    }

    #lokal_text {
        font-size: 2rem;
    }

    #hitta_text {
        font-size: 2rem;
        position: absolute;
        top: 1100px;
        left: 700px;
    }

    #sec_1_om {
        background-color: rgb(147, 223, 223,.5);
        border-bottom: 2px solid black;
    }

    #lokal_img2 {
        width: 14%;
        position: absolute;
        left: 1100px;
        top: 650px;
        border: 2px solid black;
        border-radius: 10px;
    }
    
    #lokal_img3 {
        width: 25%;
        position: absolute;
        left: 70px;
        top: 667px;
        border: 2px solid black;
        border-radius: 10px;
    }

        /* Tekniker */
        #grid_wrapper_teknik {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100px 1400px 162px;
            grid-template-areas: 
            "he he"
            "se_ar se_ar"
            "fo fo";
        }
        
        .tek_img1 {
            width: 50%;
            border-radius: 200px;
        }

        #sec_ar {
            grid-area: se_ar;
        }

        #tek_ar_4 {
            position: absolute;
            top: 1100px;
            left: 550px;
        }

        #tek_ar_3 {
            position: absolute;
            top: 700px;
            left: 150px;
        }

        #tek_ar_2 {
            position: absolute;
            top: 700px;
            left: 900px;
        }

        #tek_ar_1 {
            position: absolute;
            top: 290px;
            left: 500px;
            display: flex;
            justify-content: end;
            flex-direction: column;
        }

        #tek_img2 {
            width: 60%;
            border-radius: 200px;
        }

        .tek_rubrik {
            display: flex;
            justify-content: center;
            font-family: 'Tillana', cursive;
        }

        .tek_text {
            margin: 20px;
            padding: 12px;
            width: 500px;
        }

    }

    